body {
    margin: 0;
    height: 100%;
    background-color: #4b379a;
    font-family: 'Poppins', sans-serif;
    color: #777777;
}


header {
background-image: url(img/1.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
height: 26em;
width: 100%;
color: #ffffffff;
font-weight: initial;

}


.container{
    background-color: #ffffffff;
    margin: 3em auto;
    max-width: 1320px;
 height: 80%;
    width: 80%;
}

.navegador {
    display: flex;
    justify-content: space-between;

}



.back{
    position: relative;
    width: 100%;
    height: 100%;     
    background-image: -webkit-linear-gradient(0deg, #3224b0 0%, #be5ede 100%);
    opacity: 0.8;
 
}

h1 {
    font-size: 6em;
    font-weight: lighter;

}
.navegador div img {
    padding-left: 3%;
}

.navegador div ul li {
    display: inline;
    font-size: 0.7em;
    text-transform: uppercase;
    padding: 3em;

}


a {
    text-decoration: none;
color: #ffffffff;
}


.menuHeader {
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
padding-top: 6em;
}

.menuHeader div {
    line-height: 0.25em;
padding: 0;

}



.botonBlan {
    border-radius: 2em;
    display: block;
    border: solid;
    background-image: -webkit-linear-gradient(0deg, #3224b0 0%, #be5ede 100%);
    color: #ffffffff;
    border-width: 1px;
    padding: 0.6em 1.6em;
    text-decoration: none;
    margin: 0 auto;
    color: none;

}

.boton {
    border-radius: 2em;
    display: block;
    border: solid;
    color: #ffffffff;
    background: #00000000;
    border-width: 1px;
    padding: 0.6em 1.6em;
    text-decoration: none;
    margin: 0 auto;
    color: none;

}

/* 2 section*/

.SeccionBlanca h2 span{
color: #222222;
}

.SeccionBlanca div {
    padding: 0 5%;
}
.SeccionBlanca {
    display: grid;
    grid-template-columns: 50% 50%;
    font-size: 1em;
    text-align: justify;
   padding: 7%;
}

.imgBlanca img
{
    width: 100%;
    padding-top: 10%;

}


/* TERCERO */

.paralh {
    background-image: url(img/3.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    color: #ffffffff;
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;

    justify-items: center;
    align-items: center;
}

.mar{
padding: 10%;

}

/* CUARTO */

.Imagenes {
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 2% 2%;
    position: relative;
}

.Imagenes img {
 width: 100%;
}


.SeccionPa {
    margin: 5%;

}

/* QUINTA */

.Imgad {
    background-image: url(img/5.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 26em;
    width: 100%;
    color: #ffffffff;
    font-weight: initial;
}
.Quinto {
position: relative;
    width: 100%;
    height: 100%;
    background-image: -webkit-linear-gradient(0deg, #3224b0 0%, #be5ede 100%);
    opacity: 0.8;
    font-size: 1.4em;
    margin-bottom: 50%;
}




.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
.Imagenes:hover .image{
    background-image: -webkit-linear-gradient(0deg, #3224b0 0%, #be5ede 100%);

}
.centered {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 0 2%;
    height: 100%;

    }
    

h2 , .text2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.texto3 {
    text-align: center;
    font-size: 0.7em;

}

.inp {
    color: #ffffffff;
    justify-content: center;
    display: block;
}

.inp div {
    padding: 3% 0;
}

input {
    margin: 5%;
}
::placeholder{
    color: #ffffffff;
}

.boton2 {
    display: grid;
    justify-content: center;
    grid-template-columns: 100%;
    border: solid;
    background: #00000000;
    border-width: 1.5px;
    padding: 1em 1.6em;
    margin: 0.5em auto;

}

#username, #email {
    height: 1em;
    width: 60%;
color: #ffffff;
}

#mens {
    height: 4em;
    width: 60%;
    color: #ffffff;
}

.ContenedorInpu
{
margin-bottom: 4%;
    justify-content: center;
    
}



/* SEXTO */

.Sexto {
    font-size: 1.5em;
    padding: 3%;

}

/* 7 */

footer {
    background-color: #222222;
    font-size: 0.6em;
    text-align: center;
    height: 100%;
}

footer nav {
    margin: 20% 3%;
    justify-content: center;
}

 li {
     list-style: none;
    text-decoration: none;
    padding: 0 0.7em;
}
a {
    text-decoration: none;
}

.red
{

   
    justify-content: center;
}





/* MEDIA */




@media only screen and (max-width: 458) {
    li {
width: 100%;    }


    }

@media  only screen and (max-width: 510px)
{

    .container{
        margin: 0;
        width: 100%; 
    }

    h1 {
        font-size: 2em;
    }
   
    
    .texto{ 
        font-size: 0.7em; 

    }
     
    .texto1{ 
        font-size: 0.7em; 
        padding: 0 5%;

    }

    .imgBlanca img
    {
        width: 100%;
        padding-top: 10%;
    }
    .SeccionBlanca {
        grid-template-columns: 1fr;
    }
    
    .SeccionPa {
        padding: 5% 5% 0 5%; 
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        text-align: justify;
        margin-bottom: 3%;
    }

    .texto1{
        margin-top: 0;
    }

    .text2 {
        font-size: 0.2em;
    }


    .paralh {
        grid-template-columns: 1fr;
        justify-content: center;
    }

    h2 {
        padding: 5%;
    }

    .Bu {
    margin: 4% 3%;
    }

   
    .Imagenes {
        grid-template-columns: 100%;
    }

    .Imagenes img {
        width: 100% ;
    }

   li {
       width: 1em;
   }


   .boton2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;   
}

.ContenedorInpu
{
    margin-right: 3%;
}

#mens {
    height: 0.5em;
}

.centered{
    margin-bottom: 0%;
}

}

.Sexto {
    font-size: 1em;
    padding: 1%;
    margin-bottom: 15%;

}

footer p span {
    color:#4b379a;
}


footer nav {
    margin: 10% 0;
}
.red
{
    display: flex;
    justify-content: space-around;
    font-size: 1em;
    padding: 0 0.5em;    
}

li {
    list-style: none;
   text-decoration: none;
   padding: 0;
}
}